# Dependencies
node_modules
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build outputs
dist
build
.next
out

# Cache directories
.cache
.temp
.tmp

# Git
.git
.husky

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db
